    <ul class="list-group lpanel list-group-xs">
        {% include 'list/loaded.html' %}
        {% for form in forms %}
            {% include 'list/template_l.html' %}
        {% endfor %}
{#        {% include 'list/gender.html' %}#}
{#        {% include 'list/email.html' %}#}
{#        {% include 'list/username.html' %}#}
{#        {% include 'list/password.html' %}#}
{#        {% include 'list/zip.html' %}#}
{#        {% include 'list/birthday_day.html' %}#}
{#        {% include 'list/birthday_month.html' %}#}
{#        {% include 'list/birthday_year.html' %}#}
{#        {% include 'list/age.html' %}#}
{#        {% include 'list/age_min.html' %}#}
{#        {% include 'list/age_max.html' %}#}
{#        {% include 'list/city.html' %}#}
{#        {% include 'list/fname.html' %}#}
{#        {% include 'list/lname.html' %}#}
{#        {% include 'list/phone.html' %}#}
{#        {% include 'list/click_random_visible.html' %}#}
{#        {% include 'list/other.html' %}#}
    </ul>
