<form class="list-group-item loaded-page" id="draggable" data-click="loaded">
    <div class="c-hidden">
        LOADED
    </div>
    <div class="l-hidden">
        <div class="panel panel-default">
            <!-- Обычное содержимое панели -->
            <div class=" input-group input-group-sm">

                <span class="input-group-btn">
                     <i class="fas fa-bars btn"></i>
                </span>
                <div class="input-group-btn">
                    <button class="btn btn-default btn-name disabled" type="button">LOADED</button>
                    <button class="btn btn-default btn-dropdown">
                        <i class="fas fa-angle-double-down"></i>
                    </button>
                </div>
                <input name="xpath" type="text" class="form-control xpath-input" placeholder="Name Page">
                <div class="input-group-btn">
                    <button class="btn btn-default btn-trash" type="button">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </div>
            {#            <div class="panel-body hidden" id="demo">#}
            {#                <div class="input-group row btn-group-justified">#}
            {#                    <label class="text-left col-md-4">#}
            {#                        <input type="checkbox" name="registration_info" checked aria-label="Registration info">#}
            {#                        Registration info#}
            {#                    </label>#}
            {#                    <label class="text-left col-md-4">#}
            {#                        <input type="checkbox" name="task_email_used" checked aria-label="TaskEmailUsed">#}
            {#                        TaskEmailUsed#}
            {#                    </label>#}
            {#                    <label class="text-right col-md-4">#}
            {#                        JS Confirm#}
            {#                        <input type="checkbox" name="js_confirm" aria-label="JS Confirm">#}
            {#                    </label>#}
            {#                </div>#}
            {##}
            {#            </div>#}
        </div>
    </div>
</form>
